<div class="container">
    <p class="text-success"><%= notice %></p>
    <h1>Serviços</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Serviços</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= render service %></td>
            <td><%= link_to "Mostrar", service, class: 'btn btn-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Novo Serviço", new_service_path, class: 'btn btn-success' %>
  </div>
