<div id="<%= dom_id appointment %>">
  <p>
    <strong>Client:</strong>
    <%= appointment.client_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= appointment.service_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

</div>
